---

---

<nav 
  class="
    flex flex-row
    border-b-2 border-emerald-500
    p-6">
  <div class="flex flex-row items-center flex-1/2">
    <a href="/">
      <h2 class="text-xl md:text-4xl font-medium font-serif text-zinc-900 hover:cursor-pointer ">FinTrack </h2>
    </a>
    <a class="ml-4 md:ml-10" href="/about">
      <span class="text-center hover:underline hover:cursor-pointer hover:opacity-80">
        About us
      </span>
    </a>
  </div>
  <div class="flex flex-col md:flex-row justify-end flex-1/2">
    <button onclick="location.href='/login'" class="px-5 w-30 h-10 font-semibold hover:opacity-90 hover:cursor-pointer hover:text-lg transition-all duration-500">
      Log in
    </button>
    <button onclick="location.href='/register'" transition:name="sign-up" class="px-5 w-30 h-10 bg-zinc-950 text-white font-semibold rounded-2xl 
    hover:scale-105 hover:opacity-90 
    bg-gradient-to-r hover:from-emerald-800 hover:to-emerald-600
    transition-all duration-500">
      Sign up
    </button>
  </div>
</nav>