@import "tailwindcss";
@keyframes fadeInTranslate {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInTranslate {
  animation: fadeInTranslate 1.3s ease-out forwards;
}

@keyframes fadeInTranslate2 {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInTranslate2 {
  animation: fadeInTranslate2 1.5s ease-out forwards;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #686868;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  border: 3px solid #444;
}
