---
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions'
import Header from '@/components/app-user/Header'
import AsideMenu from '@/components/app-user/AsideMenu.astro'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>FinTrack</title>
		<ClientRouter />
	</head>
  <body class="">
		<div id="app" class="relative h-screen p-2 gap-2">
			<aside class="[grid-area:aside] flex-col flex overflow-y-auto rounded-xl bg-[#1a1a1a]">
				<AsideMenu/>
			</aside>
	
			<header class="[grid-area:header] rounded-xl w-full bg-[#1a1a1a]">
				<Header client:load/>    
			</header>
	
			<main class="[grid-area:main] overflow-y-auto h-full rounded-xl bg-[#1a1a1a]">
				<slot />
			</main>
		</div>
  </body>
</html>

<style>
  #app {
		display: grid;
		grid-template-areas: 
			"aside header"
			"aside main"
			"aside main";
		grid-template-columns: 350px 1fr;
		grid-template-rows: 300px 1fr;
	}

	html {
		font-family: system-ui, sans-serif;
		color: white;
		background-color: #000;
		overflow-x: hidden;
	},
	body {
		margin: 0;
		width: 100%;
		min-width: 1000px;
		height: 100%;
	}
	main {
		flex-grow: 1
	}
	.number-input input[type=number]::-webkit-inner-spin-button, 
	.number-input input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0;
	}

</style>
